*{
    margin:0;
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
  }
  
  .texto-boton{
    display:inline;
    font-size:20px;
    font-weight: bold;
  }
  button{
    border-radius: 20%;
    font-size: 17px;
    color:white;
    margin:5px;
  }
  .verde{
    background-color: #079207;
  }
  .azul{
    background-color: #090c97;
  }
  .rojo{
    background-color: #9c0f0f;
  }
  .original{
    background-color: #1b1b1b;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    font-size: 36px;
    margin: 0;
  }

  h2, h3{
    font-size: 50px;
  }

  .contenedor{
    display:flex;
    justify-content: center;
    align-items: center;
  }

  header img {
    border-radius: 50%;
    margin-right: 20px;
  }
 
  article {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
    line-height: 1.5;
  }
  .texto1, .texto2{
    background-color: white;
    margin: 10px;
  }
  .contenedor-proyectos{
    display:flex;
    justify-content: center;
    align-items: center;
  }

.contenedor-proyectos p{
    font-size:20px;
    color:#fff;
    background-color: #333;
    border-radius: 5% 25% 5% 25%;
    box-shadow: 5px 5px 5px #DE232B;
   
  }

  .proyecto1, .proyecto2, .proyecto3{
    width:300px;
    height:225px;
    background: #fff;
    margin:100px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px;
  }

  .proyecto1{
    background-image: url("https://cdn.dribbble.com/users/2376408/screenshots/5363916/media/36cc4204bdc56014ed661028935f6ff4.png");
    background-repeat: no-repeat;
    background-size:contain;
  }
  .proyecto2{
    background-image: url("https://cdn.dribbble.com/users/2064121/screenshots/12048808/media/12d85b79be8e6f0e2fba0cfd02de9cdb.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .proyecto3{
    background-image: url("https://cdn.dribbble.com/users/2064121/screenshots/15637632/media/1533f836a76f42d42a05f15c197ea9ff.png");
    background-repeat: no-repeat;
    background-size:contain;
  }

  nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
  }
  
  nav a:hover {
    color: #DE232B;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  .contenedor-enlaces{
    display:flex;
    justify-content: space-evenly;
    align-items:center; 
  }

.contenedor-enlaces a{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-decoration: none;
}

.contenedor-enlaces a:hover{
    color: #DE232B;
  }

footer img{
  margin:5px;
}

@media (max-width: 768px) {
  body {
    font-size: 15px;
  }

  header h1 {
    font-size: 24px;
  }

  article {
    margin-top: 100px;
    margin-bottom: 20px;
  }


  .texto1, .texto2{
    margin: 10px;
  }

  .contenedor-proyectos{
    flex-wrap: wrap;
  }

  .proyecto1, .proyecto2, .proyecto3{
    width: 39%;
    margin: 20px 200px;
  }

  .contenedor-proyectos p{
    margin-top: 20px;
    
  }
}
